apiVersion: v1
kind: Service
metadata:
  name: vector-service
  namespace: kettler-search
  labels:
    app: vector-service
spec:
  type: ClusterIP
  ports:
  - port: 3003
    targetPort: 3003
    protocol: TCP
    name: http
  selector:
    app: vector-service
