apiVersion: v1
kind: Service
metadata:
  name: scheduler-service
  namespace: kettler-search
  labels:
    app: scheduler-service
spec:
  type: ClusterIP
  ports:
  - port: 3004
    targetPort: 3004
    protocol: TCP
    name: http
  selector:
    app: scheduler-service
