apiVersion: v1
kind: Service
metadata:
  name: data-processing-service
  namespace: kettler-search
  labels:
    app: data-processing-service
spec:
  type: ClusterIP
  ports:
  - port: 3002
    targetPort: 3002
    protocol: TCP
    name: http
  selector:
    app: data-processing-service
